.root {
    position: absolute;
    width: 100vw;
    height: 100vh;
}
.container {
    font-family: sans-serif;
    text-align: center;
    background: #02a7e92c;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
}
.login-form {
    display: flex;

    background: white;
    width: 70%;
    height: 70%;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    overflow: hidden;
}
.login-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.login-form-container > img {
    width: 64px;
}
.login-sider {
    width: 100%;
    background: dodgerblue;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.login-sider > h2 {
    position: relative;
    top: 20%;
    color: wheat;
}
.login-sider > p {
    position: relative;
    top: 20%;
    color: white;
}
.ant-input-affix-wrapper {
    border: none;
    border-bottom: 1px solid dodgerblue;
    /* border-radius:5px; */
}

.login-form-button {
    width: 100%;
}
.ant-form-item {
    width: 70%;
}
.img {
    margin-top: 10%;
    position: relative;
    /* top: 30vh; */
    width: 60%;
}
